## Цифровой Прорыв 2022, Чемпионат Оренбургской области
Выполнила Шушпанова Мария

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning)

In [2]:
train = pd.read_csv('D:/Maria/оренбург хак/train_dataset_train.csv')
test = pd.read_csv('D:/Maria/оренбург хак/test_dataset_test.csv')

In [3]:
train

,id,age_indicator,month_id,student_id,program_id,carts_created_at,spent_time_total,spent_time_to_complete_hw,completed_hw,failed_hw,...,p_total_calls,p_was_conversations,p_total_duration,support_feedback_avg,feedback_avg_d1,feedback_avg_d2,feedback_avg_d3,feedback_avg_d4,feedback_avg_d5,target
0,15182,32.0,9/30/2020,6694527,1469,8/26/2020,163.0,0.0,1.0,0.0,...,NaN,NaN,NaN,4.0,5.0,NaN,NaN,NaN,NaN,0
1,89385,NaN,6/30/2021,6712877,1392,8/5/2020,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,47931,NaN,2/28/2021,6659444,376,6/20/2020,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,279085,1.0,11/30/2021,7151591,1160,4/14/2021,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,7806,30.0,10/31/2020,6705666,952,7/19/2020,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,179932,27.0,11/30/2021,6816668,1043,10/16/2020,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,0
199996,257734,NaN,9/30/2021,6984939,1635,1/2/2021,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.5,NaN,NaN,NaN,NaN,0
199997,43549,17.0,3/31/2021,6670084,789,6/29/2020,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,4.0,NaN,0
199998,100800,NaN,6/30/2021,6917324,476,12/7/2020,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
199999,162913,18.0,10/31/2021,7057970,1104,2/24/2021,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [4]:
test

,id,age_indicator,month_id,student_id,program_id,carts_created_at,spent_time_total,spent_time_to_complete_hw,completed_hw,failed_hw,...,p_missed_calls,p_total_calls,p_was_conversations,p_total_duration,support_feedback_avg,feedback_avg_d1,feedback_avg_d2,feedback_avg_d3,feedback_avg_d4,feedback_avg_d5
0,77551,NaN,5/31/2021,7064806,1395,2/28/2021,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,227812,27.0,5/31/2021,6982061,245,1/1/2021,81.0,0.0,5.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,103035,9.0,6/30/2021,7118790,1233,3/19/2021,49.0,0.0,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN
3,260943,NaN,9/30/2021,7288419,784,6/29/2021,10.0,NaN,0.0,0.0,...,0.0,2.0,2.0,61.0,NaN,NaN,NaN,NaN,NaN,NaN
4,134611,7.0,8/31/2021,6949976,998,12/31/2020,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84992,186427,15.0,10/31/2021,6841719,73,10/19/2021,10.0,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,4.5,NaN,NaN,NaN,NaN
84993,197918,27.0,11/30/2021,6469768,885,11/7/2021,27.0,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN
84994,174961,37.0,10/31/2021,7328822,1126,7/5/2021,0.0,0.0,1.0,0.0,...,0.0,3.0,3.0,113.0,NaN,NaN,NaN,NaN,NaN,NaN
84995,182226,14.0,11/30/2021,5255473,1495,2/13/2021,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84996,95178,17.0,6/30/2021,7243769,784,12/30/2020,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Подготовим обучающий датасет. Очистим данные и заполним пробелы

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 59 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id                         200000 non-null  int64
 1   age_indicator              159123 non-null  float64
 2   month_id                   200000 non-null  object
 3   student_id                 200000 non-null  int64
 4   program_id                 200000 non-null  int64
 5   carts_created_at           200000 non-null  object
 6   spent_time_total           86309 non-null   float64
 7   spent_time_to_complete_hw  42467 non-null   float64
 8   completed_hw               97599 non-null   float64
 9   failed_hw                  97599 non-null   float64
 10  reworked_hw                97599 non-null   float64
 11  interacted_hw              97599 non-null   float64
 12  avg_hw_mark                44496 non-null   float64
 13  test_with_good_mark        97599 non-null   float64
 14  test_with_great_mark       97599 non-null   float64
 15  webinars                   97599 non-null   float64
 16  avg_quiz_result            16259 non-null   float64
 17  notes                      97599 non-null   float64
 18  hw_leader                  97599 non-null   float64
 19  lessons                    97599 non-null   float64
 20  activity                   97599 non-null   float64
 21  bought_d1                  200000 non-null  int64
 22  bought_d2                  200000 non-null  int64
 23  bought_d3                  200000 non-null  int64
 24  bought_d4                  200000 non-null  int64
 25  bought_d5                  200000 non-null  int64
 26  bought_avg_duration        10359 non-null   float64
 27  payment_type               200000 non-null  int64
 28  promo                      200000 non-null  object
 29  price                      200000 non-null  float64
 30  communication_type         198595 non-null  object
 31  auto_payment               200000 non-null  int64
 32  ABC                        200000 non-null  object
 33  city                       13592 non-null   object
 34  country                    12944 non-null   object
 35  gender                     199940 non-null  float64
 36  speed_recall               21880 non-null   float64
 37  os                         77374 non-null   object
 38  browser                    77374 non-null   object
 39  platform                   77361 non-null   object
 40  m_avg_talk_duration        51537 non-null   float64
 41  m_avg_duration             45764 non-null   float64
 42  m_missed_calls             51537 non-null   float64
 43  m_total_calls              51537 non-null   float64
 44  m_was_conversations        51537 non-null   float64
 45  m_total_duration           51537 non-null   float64
 46  p_avg_talk_duration        16453 non-null   float64
 47  p_avg_duration             13488 non-null   float64
 48  p_missed_calls             16453 non-null   float64
 49  p_total_calls              16453 non-null   float64
 50  p_was_conversations        16453 non-null   float64
 51  p_total_duration           16453 non-null   float64
 52  support_feedback_avg       37557 non-null   float64
 53  feedback_avg_d1            48496 non-null   float64
 54  feedback_avg_d2            14805 non-null   float64
 55  feedback_avg_d3            17778 non-null   float64
 56  feedback_avg_d4            25076 non-null   float64
 57  feedback_avg_d5            15733 non-null   float64
 58  target                     200000 non-null  int64
dtypes: float64(38), int64(11), object(10)
memory usage: 90.0+ MB

Проверим, все ли пользователи уникальны

In [6]:
train['id'].nunique()

200000

In [7]:
train['promo'] = train['promo'].apply(lambda x: x.replace('+', '1').replace('-', '0'))
train['platform'] = train['platform'].apply(lambda x: str(x).replace('pc', '1').replace('mobile', '2').replace('tablet', '3').replace('nan', '-1'))
train['promo'] = train['promo'].astype(int)
train['platform'] = train['platform'].astype(int)
train['ABC'] = train['ABC'].apply(lambda x: x.replace('A', '1').replace('B', '2').replace('C', '3').replace('D', '4'))
train['ABC'] = train['ABC'].astype(int)

In [8]:
train = train.fillna(-1)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 59 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id                         200000 non-null  int64
 1   age_indicator              200000 non-null  float64
 2   month_id                   200000 non-null  object
 3   student_id                 200000 non-null  int64
 4   program_id                 200000 non-null  int64
 5   carts_created_at           200000 non-null  object
 6   spent_time_total           200000 non-null  float64
 7   spent_time_to_complete_hw  200000 non-null  float64
 8   completed_hw               200000 non-null  float64
 9   failed_hw                  200000 non-null  float64
 10  reworked_hw                200000 non-null  float64
 11  interacted_hw              200000 non-null  float64
 12  avg_hw_mark                200000 non-null  float64
 13  test_with_good_mark        200000 non-null  float64
 14  test_with_great_mark       200000 non-null  float64
 15  webinars                   200000 non-null  float64
 16  avg_quiz_result            200000 non-null  float64
 17  notes                      200000 non-null  float64
 18  hw_leader                  200000 non-null  float64
 19  lessons                    200000 non-null  float64
 20  activity                   200000 non-null  float64
 21  bought_d1                  200000 non-null  int64
 22  bought_d2                  200000 non-null  int64
 23  bought_d3                  200000 non-null  int64
 24  bought_d4                  200000 non-null  int64
 25  bought_d5                  200000 non-null  int64
 26  bought_avg_duration        200000 non-null  float64
 27  payment_type               200000 non-null  int64
 28  promo                      200000 non-null  int32
 29  price                      200000 non-null  float64
 30  communication_type         200000 non-null  object
 31  auto_payment               200000 non-null  int64
 32  ABC                        200000 non-null  int32
 33  city                       200000 non-null  object
 34  country                    200000 non-null  object
 35  gender                     200000 non-null  float64
 36  speed_recall               200000 non-null  float64
 37  os                         200000 non-null  object
 38  browser                    200000 non-null  object
 39  platform                   200000 non-null  int32
 40  m_avg_talk_duration        200000 non-null  float64
 41  m_avg_duration             200000 non-null  float64
 42  m_missed_calls             200000 non-null  float64
 43  m_total_calls              200000 non-null  float64
 44  m_was_conversations        200000 non-null  float64
 45  m_total_duration           200000 non-null  float64
 46  p_avg_talk_duration        200000 non-null  float64
 47  p_avg_duration             200000 non-null  float64
 48  p_missed_calls             200000 non-null  float64
 49  p_total_calls              200000 non-null  float64
 50  p_was_conversations        200000 non-null  float64
 51  p_total_duration           200000 non-null  float64
 52  support_feedback_avg       200000 non-null  float64
 53  feedback_avg_d1            200000 non-null  float64
 54  feedback_avg_d2            200000 non-null  float64
 55  feedback_avg_d3            200000 non-null  float64
 56  feedback_avg_d4            200000 non-null  float64
 57  feedback_avg_d5            200000 non-null  float64
 58  target                     200000 non-null  int64
dtypes: float64(38), int32(3), int64(11), object(7)
memory usage: 87.7+ MB

При помощи статистики найдем столбцы, которые влияют на таргет

In [9]:
columns_train = [x for x in train.columns if x not in ['target', 'os', 'browser', 'communication_type', 'city', 'country',
                                                      'carts_created_at', 'month_id', 'student_id', 'id']]

In [10]:
from itertools import combinations
from scipy.stats import ttest_ind

In [11]:
def ttest_all(column_name, alfa, target, list_name):
    unique = train[column_name].unique()
    combination = list(combinations(unique, 2))

    for i in combination:
        A = train[train[column_name] == i[0]][target]
        B = train[train[column_name] == i[1]][target]

        pvalue = ttest_ind(A, B).pvalue

        if pvalue <= alfa/len(combination): 
            print('Есть статистическая значимость для колонки ', target, ' в колонке ', column_name)
            list_name.append(column_name)
            break

In [12]:
feats = []

for i in columns_train:
    ttest_all(i, 0.01, 'target', feats)

Есть статистическая значимость для колонки  target  в колонке  age_indicator
Есть статистическая значимость для колонки  target  в колонке  program_id
Есть статистическая значимость для колонки  target  в колонке  spent_time_total
Есть статистическая значимость для колонки  target  в колонке  spent_time_to_complete_hw
Есть статистическая значимость для колонки  target  в колонке  completed_hw
Есть статистическая значимость для колонки  target  в колонке  failed_hw
Есть статистическая значимость для колонки  target  в колонке  reworked_hw
Есть статистическая значимость для колонки  target  в колонке  interacted_hw
Есть статистическая значимость для колонки  target  в колонке  avg_hw_mark
Есть статистическая значимость для колонки  target  в колонке  test_with_good_mark
Есть статистическая значимость для колонки  target  в колонке  test_with_great_mark
Есть статистическая значимость для колонки  target  в колонке  webinars
Есть статистическая значимость для колонки  target  в колонке  avg_quiz_result
Есть статистическая значимость для колонки  target  в колонке  notes
Есть статистическая значимость для колонки  target  в колонке  hw_leader
Есть статистическая значимость для колонки  target  в колонке  lessons
Есть статистическая значимость для колонки  target  в колонке  activity
Есть статистическая значимость для колонки  target  в колонке  bought_d1
Есть статистическая значимость для колонки  target  в колонке  bought_d2
Есть статистическая значимость для колонки  target  в колонке  bought_d3
Есть статистическая значимость для колонки  target  в колонке  bought_d4
Есть статистическая значимость для колонки  target  в колонке  bought_d5
Есть статистическая значимость для колонки  target  в колонке  bought_avg_duration
Есть статистическая значимость для колонки  target  в колонке  payment_type
Есть статистическая значимость для колонки  target  в колонке  promo
Есть статистическая значимость для колонки  target  в колонке  price
Есть статистическая значимость для колонки  target  в колонке  auto_payment
Есть статистическая значимость для колонки  target  в колонке  ABC
Есть статистическая значимость для колонки  target  в колонке  gender
Есть статистическая значимость для колонки  target  в колонке  speed_recall
Есть статистическая значимость для колонки  target  в колонке  platform
Есть статистическая значимость для колонки  target  в колонке  m_avg_talk_duration
Есть статистическая значимость для колонки  target  в колонке  m_avg_duration
Есть статистическая значимость для колонки  target  в колонке  m_missed_calls
Есть статистическая значимость для колонки  target  в колонке  m_total_calls
Есть статистическая значимость для колонки  target  в колонке  m_was_conversations
Есть статистическая значимость для колонки  target  в колонке  m_total_duration
Есть статистическая значимость для колонки  target  в колонке  p_avg_talk_duration
Есть статистическая значимость для колонки  target  в колонке  p_avg_duration
Есть статистическая значимость для колонки  target  в колонке  p_missed_calls
Есть статистическая значимость для колонки  target  в колонке  p_total_calls
Есть статистическая значимость для колонки  target  в колонке  p_was_conversations
Есть статистическая значимость для колонки  target  в колонке  p_total_duration
Есть статистическая значимость для колонки  target  в колонке  support_feedback_avg
Есть статистическая значимость для колонки  target  в колонке  feedback_avg_d1
Есть статистическая значимость для колонки  target  в колонке  feedback_avg_d2
Есть статистическая значимость для колонки  target  в колонке  feedback_avg_d3
Есть статистическая значимость для колонки  target  в колонке  feedback_avg_d4
Есть статистическая значимость для колонки  target  в колонке  feedback_avg_d5

Получим веса для каждого таргета, чтобы сбалансировать датасет

In [13]:
label_dict = train['target'].value_counts().to_dict()

def classes_weights(lab_dict, mu = 0.15):
    sums = sum(lab_dict.values())
    key = lab_dict.keys()
    weight = dict()
    
    for i in key:
        score = np.log(mu * sums / float(lab_dict[i]))
        weight[i] = score if score > 1 else 1
        
    return weight

weights = classes_weights(label_dict)

Запустим машину и проверим ее точность на валидации

In [14]:
from sklearn.model_selection import train_test_split
from lightgbm import LGBMClassifier
import lightgbm as lgm
from sklearn.metrics import recall_score, precision_score, classification_report, f1_score
from tqdm import tqdm, trange
from sklearn.model_selection import cross_val_predict, StratifiedKFold, KFold
from scipy.stats import ttest_rel

In [15]:
model_lgbm = lgm.LGBMClassifier(boosting_type = 'gbdt', max_depth=10, n_estimators=205, learning_rate=0.1, 
                                    class_weight=weights, num_leaves = 50, metric='multi_logloss', objective='multiclass')

In [16]:
train_val, val_val = train_test_split(train, train_size=0.8, random_state=42)

In [17]:
train_1 = train_val[feats]
y_train = train_val['target']

val = val_val[feats]
y_val = val_val['target']

In [18]:
for _ in trange(50):
    model_lgbm.fit(train_1, y_train)

100%|████████████████████████████████████████████████████████████████████████████████████████████| 50/50 [07:14<00:00,  8.69s/it]

In [19]:
for _ in trange(50):
    pred = model_lgbm.predict(val)

100%|████████████████████████████████████████████████████████████████████████████████████████████| 50/50 [00:33<00:00,  1.49it/s]

In [20]:
recall_score(y_val, pred, average='macro')

0.4209226733263978

In [21]:
precision_score(y_val, pred, average='macro')

0.6846470763547314

In [22]:
0.2 * recall_score(y_val, pred, average='macro') + 0.8 * precision_score(y_val, pred, average='macro')

0.6319021957490647

Сделаем все  то же самое для тестового датасета и получим предсказание

In [23]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84997 entries, 0 to 84996
Data columns (total 58 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         84997 non-null  int64
 1   age_indicator              67548 non-null  float64
 2   month_id                   84997 non-null  object
 3   student_id                 84997 non-null  int64
 4   program_id                 84997 non-null  int64
 5   carts_created_at           84997 non-null  object
 6   spent_time_total           36687 non-null  float64
 7   spent_time_to_complete_hw  18046 non-null  float64
 8   completed_hw               41481 non-null  float64
 9   failed_hw                  41481 non-null  float64
 10  reworked_hw                41481 non-null  float64
 11  interacted_hw              41481 non-null  float64
 12  avg_hw_mark                18909 non-null  float64
 13  test_with_good_mark        41481 non-null  float64
 14  test_with_great_mark       41481 non-null  float64
 15  webinars                   41481 non-null  float64
 16  avg_quiz_result            6954 non-null   float64
 17  notes                      41481 non-null  float64
 18  hw_leader                  41481 non-null  float64
 19  lessons                    41481 non-null  float64
 20  activity                   41481 non-null  float64
 21  bought_d1                  84997 non-null  int64
 22  bought_d2                  84997 non-null  int64
 23  bought_d3                  84997 non-null  int64
 24  bought_d4                  84997 non-null  int64
 25  bought_d5                  84997 non-null  int64
 26  bought_avg_duration        4277 non-null   float64
 27  payment_type               84997 non-null  int64
 28  promo                      84997 non-null  object
 29  price                      84997 non-null  float64
 30  communication_type         84361 non-null  object
 31  auto_payment               84997 non-null  int64
 32  ABC                        84997 non-null  object
 33  city                       5669 non-null   object
 34  country                    5423 non-null   object
 35  gender                     84978 non-null  float64
 36  speed_recall               9283 non-null   float64
 37  os                         33026 non-null  object
 38  browser                    33026 non-null  object
 39  platform                   33018 non-null  object
 40  m_avg_talk_duration        21908 non-null  float64
 41  m_avg_duration             19375 non-null  float64
 42  m_missed_calls             21908 non-null  float64
 43  m_total_calls              21908 non-null  float64
 44  m_was_conversations        21908 non-null  float64
 45  m_total_duration           21908 non-null  float64
 46  p_avg_talk_duration        7129 non-null   float64
 47  p_avg_duration             5867 non-null   float64
 48  p_missed_calls             7129 non-null   float64
 49  p_total_calls              7129 non-null   float64
 50  p_was_conversations        7129 non-null   float64
 51  p_total_duration           7129 non-null   float64
 52  support_feedback_avg       15749 non-null  float64
 53  feedback_avg_d1            20650 non-null  float64
 54  feedback_avg_d2            6237 non-null   float64
 55  feedback_avg_d3            7640 non-null   float64
 56  feedback_avg_d4            10678 non-null  float64
 57  feedback_avg_d5            6756 non-null   float64
dtypes: float64(38), int64(10), object(10)
memory usage: 37.6+ MB

In [24]:
test['platform'] = test['platform'].apply(lambda x: str(x).replace('pc', '1').replace('mobile', '2').replace('tablet', '3').replace('nan', '-1'))
test['platform'] = test['platform'].astype(int)
test['promo'] = test['promo'].apply(lambda x: x.replace('+', '1').replace('-', '0'))
test['promo'] = test['promo'].astype(int)
test['ABC'] = test['ABC'].apply(lambda x: x.replace('A', '1').replace('B', '2').replace('C', '3').replace('D', '4'))
test['ABC'] = test['ABC'].astype(int)
test = test.fillna(-1)

In [25]:
test_feat = test[feats]

In [26]:
for _ in trange(50):
    test_pred = model_lgbm.predict(test_feat)

100%|████████████████████████████████████████████████████████████████████████████████████████████| 50/50 [01:20<00:00,  1.60s/it]

In [27]:
test_id = test['id']
test_pred_df = pd.DataFrame(test_pred)
test_pred_df = test_pred_df.rename(columns={0 : 'target'})
shu_predict = pd.concat([test_id, test_pred_df], axis=1)
shu_predict

           id  target
0       77551       0
1      227812       0
2      103035       0
3      260943       0
4      134611       0
...       ...     ...
84992  186427       0
84993  197918       0
84994  174961       0
84995  182226       0
84996   95178       0

[84997 rows x 2 columns]